# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/
VENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch / model artifacts
*.pt
*.pth

# TensorFlow Lite / embedded build outputs
*.tflite
model_data.h
tinyml.ino

# macOS
.DS_Store

# VS Code
.vscode/

# Logs and temporary files
*.log
*.tmp

# Environment and secrets
.env
*.env

# OneDrive temporary files
~$*
